<body class="landing">
    <div class="navbar nav-home">
        <div class="navbar-logo">
            <%= image_tag("RTC_Logo.png", alt: "RTC Logo", width: "200", height: "75") %>
        </div>
        <div class="dropdown">
            <button onclick="showAbout()" class="dropbtn">About</button>
            <div id="about" class="dropdown-content">
                <a href="#">Meet the Team</a>
                <a href="#">Contact Us</a>
                <a href="#">Request Form</a>
            </div>
        </div>
        <div class="dropdown">
            <button onclick="showResources()" class="dropbtn">Resources</button>
            <div id="resources" class="dropdown-content">
                <a href="#">Jobs</a>
                <a href="#">Webinars</a>
                <a href="#">Events</a>
                <a href="#">Mentorship</a>
                <a href="#">Fellowship Guide</a>
            </div>
        </div>
        <div class="dropdown">
            <button onclick="showDirectory()" class="dropbtn">Directory</button>
            <div id="directory" class="dropdown-content">
                <a href="#">Company Partners</a>
                <a href="#">Fellows</a>
                <a href="#">Members</a>
                <a href="#">Alumni</a>
            </div>
        </div>
        <button class="refer">Refer</button>
        <button class="profile">C</button>
    </div>
    <!-- <div class="content">
        <div class="webinar-and-archive">
            <div class="webinar-container">
                    <div class="container shadow rounded webinar-and-archive"></div>
                    <div class="row">
                    <div class="box-title-text">Webinars</div>
                    </div>

                    <div class="row">
                        <div class="col webinar-content">

                            <div class="row webinar-image">
                                <img src="https://via.placeholder.com/625x445">
                            </div>
                            <div class="row webinar-description">
                                How to network at work
                            </div>
                        </div>
                        <div class="col archive-container shadow rounded">
                                <div class="row">
                                <div class="row box-title-text">Archives</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div> -->
    <div class="webinar-main shadow">
        <div class="container mx-auto content-container">
            <div class="row">
                <div class="box-title-text">Webinars</div>

            </div>

            <div class="row">
                <div class="col col-lg-5">
                    <div class="webinar-image-and-description">
                        <img src="https://via.placeholder.com/463x322">
                    </div>
                </div>
                <div class="col col-lg-6 offset-lg-1 shadow archive-color">
                    <div class="archive-container">
                        <div class="row">
                            <div class="col col-lg-3 box-title-text-margin">Archives</div>
                            <div class="col col-lg-3 offset-lg-6 filter-text">Filter by</div>
                        </div>
                        <div class="row video-archive">
                            <div class="col col-lg-12">
                                <div class="video-archive-title">How to network at work</div>
                            </div>
                        </div>
                        <div class="row video-archive">
                            <div class="col col-lg-12">
                                <div class="video-archive-title">How to network at work</div>
                            </div>
                        </div>
                        <div class="row video-archive">
                            <div class="col col-lg-12">
                                <div class="video-archive-title">How to network at work</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <footer>
        <p class="footer-text"><a href="www.rewritingthecode.org">rewritingthecode.org</a></p>
        <p class="footer-text"><a href="mailto:contact@rewritingthecode.org">contact@rewritingthecode.org</a></p>
    </footer>
</body>

<script>
    function showAbout() {
        document.getElementById("about").classList.toggle("show");
        document.getElementById("resources").classList.remove("show");
        document.getElementById("directory").classList.remove("show");
    }

    function showResources() {
        document.getElementById("about").classList.remove("show");
        document.getElementById("resources").classList.toggle("show");
        document.getElementById("directory").classList.remove("show");
    }

    function showDirectory() {
        document.getElementById("about").classList.remove("show");
        document.getElementById("resources").classList.remove("show");
        document.getElementById("directory").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>