<p>Find me in app/views/webinar/index.html.erb</p>


<div class="container shadow-sm rounded-lg page-container">
    <div class="row">
        <div class="col webinar-container">
            <div class="title">
            <h4>Webinars</h4>
            </div>
        </div>
        <div class="col archives-container">
            <div class="title">
            <h4>Archives</h4>
            </div>
        </div>
    </div>
</div>

