<body class="sign_up jumbotron">
    <div class="sign_up_container">
      <div class="sign_up_heading">
          <div class="sign_up_pic">
              <%= image_tag("RTCLogoSlash_Cropped.jpg", alt: "RTC Logo", width: "125", height:"125") %>
          </div>
          <div class="sign_up_text">
              <h1>Create an Account</h1>
          </div>
      </div>
        <div class="clearfix"></div>
        <!--</br>
        <h5>Please sign up below</h5>-->
        <%= form_for(@user) do |f| %>
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Please use the email you used to apply for RTC.</small>
            </div>
            <div class="form-group">
                <label for="passwordCustom">Password</label>
                <input type="password" class="form-control" id="passwordCustom" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="authentication">2-Step Authentication</label>
                <input type="password" class="form-control" id="authentication" placeholder="Generated Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="NDACheck">
                <label class="form-check-label" for="NDACheck">I agree not to share any information on this site outside of RTC.</label>
            </div>
            </br>
            <button type="submit" class="btn btn-primary up">Sign Up</button>
        </form>
        <% end %>
        </br>
        <p>For questions please contact <a href="mailto:help@rewritingthecode.org">help@rewritingthecode.org</a></p>
    </div>
</body>

<script>
    document.getElementById("NDACheck").required = true;
    document.getElementById("passwordCustom").required = true;
    document.getElementById("authentication").required = true;
    document.getElementById("email").required = true;
</script>
