<footer>
    <p class="footer-text"><a href="www.rewritingthecode.org">rewritingthecode.org</a></p>
    <p class="footer-text"><a href="mailto:contact@rewritingthecode.org">contact@rewritingthecode.org</a></p>
</footer>