<div class="navbar nav-home">
    <div class="navbar-logo">
        <%= image_tag("RTC_Logo.png", alt: "RTC Logo") %>
    </div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">About</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Meet the Team</a>
            <a href="#">Contact Us</a>
            <a href="#">Request Form</a>
        </div>
    </div>
</div>