// Place all the styles related to the SignIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
    color: black;
    background-color: white !important; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    position: relative;
}

.jumbotron {
    background-color: white !important; 
}

.home_text {
    width: 50vw;
    height: 50vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // margin-top: 10vh;
    // margin-bottom: 10vh;
}

.navbar {
    background-color: black !important;
}

.nav-home {
    padding: 2px 16px;
    background-color: black !important;
    color: white;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0 !important; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }