.meet_the_team_main {
    color: black;
    background-color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    position: relative;
}

.title {
    position: relative;
    color: black;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    background-color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intros {
  position: relative;
  color: black;
  justify-content: center;
  align-items: center;
  left: 50%;
  border: none;
  font-size: 30px;
  background-color: white !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
