// Place all the styles related to the SignIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/

/* IMPORTANT: if you're updating CSS and having trouble seeing changes, go to public, tmp and delete the assets folder. 
                Then, clear your cache in the browser and you should see your changes. */

.sign_in {
    color: white;
    background-color: black !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.sign_in_container {
    width: 50vw;
    height: 50vw;
    // margin-top: 10vh;
    // margin-bottom: 10vh;
}

.sign_in_heading {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sign_in_pic {
    float: right;
    margin-right: 20px;
}

.sign_in_text {
    width: 70%;
    float: left;
    text-align: left;
}

.clearfix{
    clear:both
}

.log_in {
    width: 50vw;
}

.reset-password:hover {
    text-decoration: underline;
}

.sign-in-link {
    color: #007bff !important;
    font-size: 16px !important;
}