<body class="sign_in jumbotron">
    <div class="sign_in_container">
        <div class="clearfix"></div>
        <!--</br>
        <h5>Please sign in below</h5>-->
        <div class="sign_in_steps">
            <form class="sign_in_form">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordCustom" placeholder="Password">
                </div>
                </br>
                <button type="submit" class="btn btn-primary sign_in_btn">Sign In</button>
                <p class="reset-password-p"><a class="reset-password-a" href="mailto:help@rewritingthecode.org">Forgot Password?</a></p>
            </form>
        </div>
        <div class="account-sign-up">
            <p>Don't have an account? <a class="account-sign-up-btn" href="nowhere yet">Sign Up</a></p>
        </div>
        </br>
    </div>
</body>

<script>
    document.getElementById("NDACheck").required = true;
    document.getElementById("passwordCustom").required = true;
    document.getElementById("authentication").required = true;
    document.getElementById("email").required = true;
</script>