<h1>Welcome to the Internal Portal for Rewriting the Code</h1>
<h2>Please sign in below</h2>

<p>For questions please contact <a href="">help@rewritingthecode.org</a></p>
<p>Find me in app/views/sign_in/index.html.erb</p>
