<body class="sign_in">
    <div class="sign_in_container">
        <img src="../assets/images/RTC_Logo_Slash.jpg" alt="RTC Logo">
        <h1>Welcome to the Internal Portal for Rewriting the Code</h1>
        <h2>Please sign in below</h2>

        <p>For questions please contact <a href="">help@rewritingthecode.org</a></p>
        <p>Find me in app/views/sign_in/index.html.erb</p>
    </div>
</body>