<body class="sign_in jumbotron">
    <div class="sign_in_container">
        <div class="sign_in_heading">
            <div class="sign_in_pic">
                <%= image_tag("RTCLogoSlash_Cropped.jpg", alt: "RTC Logo", width: "125", height:"125") %>
            </div>
            <div class="sign_in_text">
                <h1>Welcome to the RTC Portal</h1>
            </div>
        </div>
        <div class="clearfix"></div>
        <%= form_for(:session, url: login_path) do |f| %>
        <form>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                <small id="emailHelp" class="form-text text-muted">Please use the email you used to apply for RTC.</small>
            </div>
            <div class="form-group">
                <label for="passwordCustom">Password</label>
                <input type="password" class="form-control" id="passwordCustom" placeholder="Password">
            </div>
            <!-- Unnecessary
                       <div class="form-group">
                            <label for="authentication">2-Step Authentication</label>
                            <input type="password" class="form-control" id="authentication" placeholder="Generated Password">
                        </div>
            -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="NDACheck">
                <label class="form-check-label" for="NDACheck">I agree not to share any information on this site outside of RTC.</label>
            </div>
            <br></br>
            <button type="submit" class="btn btn-primary log_in">Log In</button>
        </form>
        <% end %>
        <br></br>
        <!--TODO: Change href for forgot password-->
        <%= link_to "Forgot Password?", new_password_reset_path %>
        <br></br>
        <p>Don't Have a Profile Yet? <a class="link" href="/sign_up">Create an Account</a>.</p>
        <p>For questions, please contact <a href="mailto:help@rewritingthecode.org">help@rewritingthecode.org</a>.</p>
      </div>
</body>

<script>
    document.getElementById("NDACheck").required = true;
    document.getElementById("passwordCustom").required = true;
    document.getElementById("authentication").required = true;
    document.getElementById("email").required = true;
</script>
