<body class="home jumbotron">
    <div class="navbar_container">
        <div class="navbar-logo">
            <%= image_tag("RTCLogoSlash.jpg", alt: "RTC Logo", width: "150", height:"150") %>
        </div>
        </div>
        <div class="home_text">
            <h1>WELCOME TO YOUR REWRITING THE CODE PORTAL</h1>
        </div>
        <div class="calendar-container">
        <!--
        -->
        </div>
</body>

<script>
    document.getElementById("NDACheck").required = true;
    document.getElementById("passwordCustom").required = true;
    document.getElementById("authentication").required = true;
    document.getElementById("email").required = true;
</script>
