<head>
    <div class="navbar nav-home">
        <div class="navbar-logo">
            <%= image_tag("RTC_Logo.png", alt: "RTC Logo") %>
        </div>
        <button>testing</button>
        <button>testing</button>
    </div>
</head>
<body class="landing jumbotron">
    <div class="navbar_container"></div>
    <div class="home_text">
        <h1>YOUR PORTAL</h1>
    </div>
    <div class="calendar-container"></div>
</body>