
.password-reset {
  color: white;
  background-color: black !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 35%;
  position: fixed;
}

.password-reset-container {
  height: 50vw;
  width: 50vw;
}
